<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Add Labels</title>
    </head>
    <body>
        <ul>
            <li><%= manname%></li>
            <ul>
                <% labels.forEach(function(oneLabel){ %>
                    <li><%= oneLabel%></li>
                <% }); %>
            </ul>
        </ul>

    </body>
</html>
