<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test EJS</title>
    </head>
    <body>
        <ul>
                <% students.forEach(function(oneStudent){ %>
                    <li><%= oneStudent %></li>
                <% }); %>
        </ul>

    </body>
</html>
